.App {
    text-align: center;
    min-height: 100vh;
    background-color: whitesmoke;
}

.App-Header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 10px;
    padding-right: 10px;
    padding: 10px;
}

.Library {
    background-color: #F8F5F1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: #B5592A;
}

#selectBookshelf {
    margin: 10px;
    width: 200px;
    padding: 10px;
    font-size: 15px;
    color: #E9896A;
    background-color: white;
    border-radius: 3px 3px / 3px 3px;
}

.query {
    padding: 20px;
    min-width: 500px;
    background: transparent;
    border: 0;
    outline: 0;
    color: #B5592A;
    font-size: 20px;
    box-shadow:
        0px 1px 0 #E9896A;
}

.query::placeholder {
    color: #B5592A;
}

.inputQuery {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

.queryBtn {
    color: #E9896A;
    background: none;
    border: 0;
    outline: 0;
    filter: invert(60%) sepia(43%) saturate(568%) hue-rotate(327deg) brightness(96%) contrast(89%);
}

.Book {
    display: flex;
    font-size: 20px;
    margin-bottom: 10px;
}

.BookInfo {
    text-align: left;
    margin: 10px;
}

.BookTitle {
    flex: 1;
    text-align: left;
    font-size: 20px;
    color: #596E79;
    font-weight: bold;
}

.BookDetails {
    color: #233142;
    font-size: 15px;
}

.Bookshelf {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px;
}

.BookMemo {
    display: flex;
}

.RemoveButton {
    background: none;
    border: none;
    position: absolute;
    cursor: pointer;
}

#BookImg {
    margin: 10px;
    width: 100px;
    height: 150px;
    background-color: wheat;
    padding: 10px;
    border-radius: 5px 5px / 5px 5px;
}

#BookImgResult {
    width: 150px;
    height: 200px;
    padding: 10px;
}

#logoutButton {
    background: none;
    border: none;
}
